.block1 {width: 945px; height: 150px;
background-color: #55B3B9;
margin: 10px 10px 10px 10px}
h1 {font-size: 56px;
    font-family: Roboto, serif}
.block1 h2 {font-size: 42px;
    font-family: Roboto, serif}
.block2 {width: 629px; height: 150px;
    margin: 10px 10px 10px 50%}
.block2 {background-color: #C56060}
.block2 h2 {font-size: 42px;
    font-family: Roboto, serif}
.block2 h3 {font-family: Sail, serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
}
.block3 {width: 945px; height: 150px;
    margin: 10px auto 10px }
.block3 {background-color: #8FC091;}
.block3 h2 {font-family: Roboto, serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    text-align: center;}
    .block3 h3 {font-family: Sail, serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 18px;
        text-align: center;}
.block4 {width: 628px; height:150px;
    margin: 10px}
.block4 {background-color: #8F86AF}
.block4 h2 {font-family: Roboto, serif;
    font-size: 42px;
    font-weight: 800;
    line-height: 49px;
    text-align: left;
}
.block4 h3 {font-family: Sail, serif;
    font-size: 28px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
}